@use '../abstracts/' as *;

.header {
  display: flex;
  margin: 1.5rem auto;
  justify-content: space-between;
  padding: 0 2rem;
  max-width:80rem;


  &__logo {
    &-container {
      width: 25%;
      align-self: center;
    }
  }
  &__links {
    display: flex;
    list-style-type: none;
    gap: 10px;
    & a{
      text-decoration: none;
      color: $clr-primary-dark-blue;
      &:hover{
        color: $clr-accent-moderate-cyan;
        text-decoration: underline;
      }
    }
  }
}
