@use '../abstracts/' as *;

.header {
  display: flex;
  margin: 1.5rem auto;
  justify-content: space-between;
  padding: 0 2rem;
  max-width: 80rem;

  &__logo {
    &-container {
      width: 25%;
      align-self: center;
    }
  }
  &__links {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    font-weight: bold;
    & a {
      position: relative;
      text-decoration: none;
      color: $clr-primary-dark-blue;
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        bottom: -5px;
        left: 0;
        background-color: $clr-accent-moderate-cyan;
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }
}
