@use '../abstracts/' as *;

.cta {
  padding: 3rem 1rem 3rem 1rem;
  color: white;
  text-align: center;
  max-width: 80rem;
  margin: 0 auto;
  //background: $clr-primary-desaturated-blue;

  &__main-container {
    width: 100%;
    background: $clr-primary-desaturated-blue;
  }
  @include media-query(large) {
    display: flex;
    text-align: left;
    padding: 5rem 2rem 5rem 2rem;
  }
  &__title {
    padding: 1rem 0 1rem 0;
  }

  &__button {
    width: 100%;
    font-size: 0.8rem;
    @include media-query(large) {
      max-width: 10rem;
    }
  }
  &__email {
    width: 100%;
    margin: 2rem 0 0 0;
    &::placeholder {
      font-size: 0.8rem;
      padding-left: 1rem;
      @include media-query(large) {
        padding-left: 0.5rem;
      }
    }
  }
  &__form {
    max-width: 15.6rem;
    @include media-query(large) {
      max-width: 40rem;
    }
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      @include media-query(large) {
        justify-content: center;
        padding: 0 0 0 3rem;
        width: 100%;
      }
    }
  }
  &__container-1 {
    max-width: 533px;
    margin: 0 auto;
  }

  &__info-text {
    font-size: 0.8rem;
    padding: 0 0 0.5rem 0;
  }
}
