@use '../abstracts/' as *;


 .footer{
   background: $clr-primary-dark-blue;
   color: white;
   padding: 4rem 1rem 1rem 1rem;
   & img {
     color: white;
     fill: white;
     
     border: 1px solid;
   }
   
 }


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
