@use '../abstracts/' as *;

.hero {
  margin: 6.125rem 1rem 5.6rem 1rem;
  @extend %border; 
  text-align: center;
  @include media-query(large) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
  }

  &__title {
    padding: 1.25rem 1rem 0.75rem 1rem;
    color: $clr-primary-dark-blue;
    @include media-query (large){
      font-size: 2rem;
    }
  }
  &__content {
    padding: 0.75rem 0 1rem 0;

    color: $clr-primary-desaturated-blue;
  }
  &__form-container {
    @include media-query(large) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }
  }
  &__email {
    display: block;
    width: 100%;
    margin-block: 1rem;
    height: 40px;
    padding-inline: 1rem;
    border-radius: 0.2rem;
    &::placeholder {
      font-size: 0.8rem;
      padding-left: 1rem;
    }
    @include media-query(large) {
      max-width: 20rem;
    }
  }
  &__button {
    width: 100%;
    @include media-query(large) {
      max-width: 12.5rem;
    }
  }
}
