@use '../abstracts/' as *;

.hero {
  margin: 6.125rem 1rem 5.6rem 1rem;
  &__title {
    text-align: center;
    padding: 1.25rem 0 0.75rem 0;
    color: $clr-primary-dark-blue;
  }
  &__content {
    padding: 0.75rem 0 1rem 0;
    text-align: center;
    color: $clr-primary-desaturated-blue;
  }
  &__email {
    display: block;
    width: 100%;
    margin-block: 1rem;
    height: 40px;
    padding-inline: 1rem;
    border-radius: 0.2rem;
    &::placeholder {
      font-size: 0.8rem;
      padding-left: 1rem;
    }
  }
  &__button {
    width: 100%;
  }
}


