@use '../abstracts/' as *;

.hero {
  //margin: 6.125rem auto 5.6rem auto; 
  @extend %border; 
  text-align: center;
   max-width: 80rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  @include media-query(large) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
  }

  &__title {
    padding: 1.25rem 1rem 0.75rem 1rem;
    color: $clr-primary-dark-blue;
    @include media-query (large){
      font-size: 2rem;
    }
  }
  &__content {
    padding: 0.75rem 0 1rem 0;

    color: $clr-primary-desaturated-blue;
  }
  &__form-container {
   max-width: 20rem; 
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
    @include media-query(large) {
      
     // justify-content: flex-start;
     flex-direction: row;
      align-items: center;
      gap: 1rem;
      margin: 0;
    }
  }
  &__email {
    display: block;
    width: 100%;
    margin-block: 1rem;
    height: 40px;
    padding-inline: 1rem;
    border-radius: 0.2rem;
  
    &::placeholder {
      font-size: 0.8rem;
      padding-left: 1rem;
      @include media-query (large){
         padding-left: 0.5rem;
      }
    }
    @include media-query(large) {
      max-width: 20rem;
    }
    
  }
  &__button {
    width: 100%;
    @include media-query(large) {
      max-width: 12.5rem;
    }
  
  }
  &__info-text{
    display: block;
    color: red;
    font-size: 0.8rem;
  }
}
